<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.wego.web.mapper.FestivalMapper">
  
  <insert id="insertFestival" parameterType="com.wego.web.festival.Festival">
  insert into festival(festival_title,festival_img,festival_date,festival_info)values
  				(#{festival_title},#{festival_img},#{festival_date},#{festival_info})
  </insert>
  
     <select id="selectFestivalList" resultType="com.wego.web.festival.Festival" parameterType="com.wego.web.festival.Festival" >
	select * from festival
	</select>
	
	<select id="selectFestivalInfo" resultType="com.wego.web.festival.Festival" parameterType="int">
	select *
	from festival
	where festival_seq like #{festival_seq}
	</select>
	
	<insert id="insertFestivalBook" parameterType="com.wego.web.festival.FestivalBook">
	insert into festivalbook (userid,tel,visit_date,person)values
					(#{userid},#{tel},#{visit_date},#{person})
	</insert>
	<insert id="insertFestivalImg" parameterType="com.wego.web.festival.Festival">
    	update festival set festival_img = #{festival_img} where festival_seq like #{festival_seq}
    	
    </insert>
	
	  
  </mapper>