<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.wego.web.mapper.HotelMapper">

	<select id="createHotel" parameterType="hashmap">
		${CREATE_HOTEL}
	</select>
	<select id="createRoom" parameterType="hashmap">
		${CREATE_ROOM}
	</select>
		<select id="createComments" parameterType="hashmap">
		${CREATE_COMMENTS}
	</select>
	<select id="createReservation" parameterType="hashmap">
		${CREATE_RESERVATION}
	</select>
	
	 <insert id="insertHotel" parameterType="com.wego.web.hotel.Hotel">
    	insert into hotels (hotel_name, hotel_img, username, hotel_addr,hotel_area, hotel_info) values
			(#{hotel_name}, #{hotel_img}, #{username}, #{hotel_addr}, #{hotel_area}, #{hotel_info})
    </insert>
     <insert id="insertRoom" parameterType="com.wego.web.hotel.Room">
    	insert into rooms (room_type, room_img,price, hotel_seq) values
			(#{room_type},#{room_img},#{price},#{hotel_seq})
    </insert>
         <insert id="insertComments" parameterType="com.wego.web.hotel.Comments">
    	insert into comments(user_comment,rating, userid, room_seq) values
			(#{user_comment}, #{rating}, #{userid}, #{room_seq})
    </insert>
    <insert id="insertReservation" parameterType="com.wego.web.hotel.Reservation"> 
       insert into reservations (checkin_date, checkout_date, userid, room_seq, hotel_seq, payment) values 
           (#{checkin_date}, #{checkout_date}, #{userid}, #{room_seq}, #{hotel_seq}, #{payment})
   </insert> 
    

    <select id="selectHotelList" parameterType="com.wego.web.hotel.Hotel" resultType="com.wego.web.hotel.Hotel">
			select d.*
			from (select a.price , a.hotel_name, a.hotel_seq, b.hotel_img, b.rating, b.hotel_addr, a.room_seq
			from 	(select min(r.price) price, h.hotel_name, r.hotel_seq, r.room_seq
			from hotels h join rooms r
			on h.hotel_seq = r.hotel_seq
			group by hotel_seq) a join (select round(avg(c.rating)*1,2) rating, h.hotel_seq, h.hotel_name, h.hotel_img, h.hotel_addr
			from hotels h join comments c join rooms r
			on c.room_seq = r.room_seq
			group by hotel_seq
			order by rating desc)b
			on a.hotel_seq = b.hotel_seq) d
			order by d.rating desc;

			
	</select>
	    <select id="selectHotelListForPrice" parameterType="com.wego.web.hotel.Hotel" resultType="com.wego.web.hotel.Hotel">
			select d.*
			from (select a.price , a.hotel_name, a.hotel_seq, b.hotel_img, b.rating, b.hotel_addr, a.room_seq
			from 	(select min(r.price) price, h.hotel_name, r.hotel_seq, r.room_seq
			from hotels h join rooms r
			on h.hotel_seq = r.hotel_seq
			group by hotel_seq) a join (select round(avg(c.rating)*1,2) rating, h.hotel_seq, h.hotel_name, h.hotel_img, h.hotel_addr
			from hotels h join comments c join rooms r
			on c.room_seq = r.room_seq
			group by hotel_seq
			order by rating desc)b
			on a.hotel_seq = b.hotel_seq) d
			order by d.price;

	</select>
	    <select id="selectRoomList" parameterType="com.wego.web.hotel.Room" resultType="com.wego.web.hotel.Room">
	    select h.hotel_seq,  r.room_type, h.hotel_name, h.hotel_info, r.price,r.room_img, r.room_seq
		from hotels h join rooms r
		on h.hotel_seq = r.hotel_seq
		where h.hotel_seq like #{hotel_seq};
	</select>
		<select id="selectCommentsList" parameterType="com.wego.web.hotel.Comments" resultType="com.wego.web.hotel.Comments">
			select * 
			from comments c join hotels h
			on c.room_seq = h.hotel_seq 
			where h.hotel_seq like #{hotel_seq};
		</select> 
		<select id="selectReservationList" parameterType="com.wego.web.hotel.Reservation" resultType="com.wego.web.hotel.Reservation">
			select * from reservations
		</select> 
	
	<select id="selectOnHotelByHseq" parameterType="int" resultType="com.wego.web.hotel.Hotel">
		select *
		from hotels
		where hotel_seq like #{hotel_seq};
	</select>
		<select id="selectCommentsByRating" parameterType="int" resultType="com.wego.web.hotel.Comments">
		select round(avg(rating)*1,2) rating
		from comments
		where room_seq like #{room_seq};
	</select>
		<select id="selectSearchList"  resultType="com.wego.web.hotel.Hotel">
		select * from hotels where hotel_area like #{hotel_area} order by hotel_seq desc;
	</select>
	<select id="selectLocationList" parameterType="com.wego.web.hotel.Hotel" resultType="com.wego.web.hotel.Hotel">
 			select d.*
			from (select a.price , a.hotel_name, a.hotel_seq, b.hotel_img, b.rating, b.hotel_addr, b.hotel_area
			from 	(select min(r.price) price, h.hotel_name, r.hotel_seq
			from hotels h join rooms r
			on h.hotel_seq = r.hotel_seq
			group by hotel_seq) a join (select round(avg(c.rating)*1,2) rating, h.hotel_seq, h.hotel_name, h.hotel_img, h.hotel_addr, h.hotel_area
			from hotels h join comments c join rooms r
			on c.room_seq = h.hotel_seq = r.hotel_seq
			group by hotel_seq
			order by rating desc)b
			on a.hotel_seq = b.hotel_seq) d
			where d.hotel_area like #{hotel_area}
			order by rating desc;
	</select>
		<select id="selectMapByHseq" parameterType="int" resultType="com.wego.web.hotel.Hotel">
		select latitude, longitude
		from hotels
		where hotel_seq like #{hotel_seq};
	</select>
</mapper>